@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+SC:wght@300;400;500;600;700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Great+Vibes&display=swap');

:root {
    /*fonts*/
    --heading-font: "Cinzel", serif;
    --text-font: "DM Sans", sans-serif;
    --small-text: "Great Vibes", cursive;
    --button-text: "Cormorant SC", serif;
    --font-size: 12px;
    /*colors*/
    --white: #FFFFFF;
    --yellow-text: #F3D382;
    --yellow-button: #F5BE32;
    --black: #000000;
}

html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    font-family: var(--text-font);
    font-weight: 500;
    font-style: normal;
    font-size: var(--font-size);
    padding: 0;
    margin: 0;
    background-color: #1E1E1E;
}

#hero {
    background-image: url('hero_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 675px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

.small-text {
    margin: 0;
    font-family: var(--small-text);
    letter-spacing: 5px;
    font-size: 1.33333333em;
    color: var(--white);
    font-weight: 400;
}

.small-text-hero {
    margin: 0;
    font-family: var(--small-text);
    letter-spacing: 5px;
    font-size: 2em;
    color: var(--white);
    font-weight: 400;
}

.heading {
    width: 50%;
    font-family: var(--heading-font);
    font-size: 3.3em;
    color: var(--yellow-text);
    margin: 0;
}

.menu-heading {
    margin: 0;
    margin-top: 1em;
    font-family: var(--heading-font);
    font-size: 2.1em;
    color: var(--yellow-text);
}

.heading-hero {
    width: 50%;
    font-family: var(--heading-font);
    font-size: 5em;
    color: var(--yellow-text);
    margin: 0;
}

p {
    font-weight: 400;
    width: 365px;
    font-family: var(--text-font);
    font-size: 1.7em;
    color: var(--white);
}

.button-filled {
    font-weight: 600;
    border: none;
    padding: 0.7em 1.7em;
    font-family: var(--button-text);
    font-size: 1.7em;
    background-color: var(--yellow-button);
    box-shadow: var(--yellow-text) 0px 0px 0px 1px;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

.tab {
    border: none;
    background-color: transparent;
    color: var(--white);
    font-family: var(--button-text);
    font-size: 1.7em;
    padding: 0;
}

#links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.tab:hover, .tab:focus {
    border-bottom: 1px solid #FFFFFF;
}

.button-empty {
    color: var(--yellow-button);
    font-weight: 600;
    border: 3px solid var(--yellow-button);
    padding: 0.7em 1.7em;
    font-family: var(--button-text);
    font-size: 1.7em;
    background-color: transparent;
}

#specials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 6em;
}

#cards {
    gap: 1.4em;
    display: grid;
    text-align: left;
    grid-template-columns: repeat(3, 1fr);
}

#cards > .card {
    background: #2E2E2E;
    padding: 20px; 
    box-sizing: border-box;
}


.card > img {
    border: 3px solid #F5BE32;
}

#menu-section {
    padding-top: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#special-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

.items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4em;
}

.description > p, #text > p {
    text-align: left;
}

.description > h2 {
    font-size: 3.4em;
}

#about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em;
}

#story {
    display: flex;
    padding: 2em;
}

#text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 4em;
}

#dining-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.description-dining {
    position: absolute;
    text-align: left;
    left: 11%;
}

#gold {
    position: absolute;
    text-align: right;
    right: 11%;
}